html {
    font-size: 1.4em;
}

html, button, select, textarea {
    font-family: system-ui;
}

div {
    margin-top: 10px;
    margin-bottom: 10px;
}

label, p, textarea {
    margin-top: 10px;
    margin-bottom: 10px;
}

select, textarea {
    font-size: 1em;
}

button {
    cursor: pointer;
    font-size: 1em;
}